<!DOCTYPE html>
<html>
    <head>
        <title>Days since</title>
    </head>
    <body>
        <div id="content">
            days since is a small tool to track event and the time between then and display this is in one display.
            <br>
            You might know this from:
            <br>
            Days without accident from The Simpsons or Monsters Inc.
            <br>
            <br>
            Click <a href="/newuser">here</a> to get started by creating a new account!
        </div>
    </body>
</html>


